streamlit[pdf]==1.54.0
python-dotenv==1.2.1

langchain==1.2.10
langchain-community==0.4.1
langchain-core==1.2.16
langchain-groq==1.1.2
langchain-text-splitters==1.1.1

chromadb==1.5.1
pypdf==6.7.4

sentence-transformers==5.2.3
transformers==5.2.0
torch==2.10.0

numpy==2.4.2
pandas==2.3.3
scikit-learn==1.8.0
